.full-w{
  width: 100%;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #333;
    background-image: url('https://s3.amazonaws.com/myfangate.com/iceninekills/texture.jpg');
    background-repeat: repeat;
}

#book-container{
  margin: 5% auto;
  max-width: 1500px;
}

#book-wrap {
    overflow: hidden;
}

/* helpers */

.t {
    display: table;
    width: 100%;
    height: 100%;
}

.tc {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.rel {
    position: relative;
}

/* book */

.book {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.book .page {
    height: 100%;
}

.book .page .page-img {
    max-width: 100%;
    height: 100%;
}

.overlay{
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.evenlay{
  background:-webkit-gradient(linear, left top, right top, color-stop(0.95, transparent), color-stop(1, #000));
  background-image:-webkit-linear-gradient(left, transparent 95%, #000 100%);
  background-image:-moz-linear-gradient(left, transparent 95%, #000 100%);
  background-image:-ms-linear-gradient(left, transparent 95%, #000 100%);
  background-image:-o-linear-gradient(left, transparent 95%, #000 100%);
  background-image:linear-gradient(left, transparent 95%, #000 100%);
}

.oddlay{
  background:-webkit-gradient(linear, right top, left top, color-stop(0.95, transparent), color-stop(1, #000));
  background-image:-webkit-linear-gradient(right, transparent 95%, #000 100%);
  background-image:-moz-linear-gradient(right, transparent 95%, #000 100%);
  background-image:-ms-linear-gradient(right, transparent 95%, #000 100%);
  background-image:-o-linear-gradient(right, transparent 95%, #000 100%);
  background-image:linear-gradient(right, transparent 95%, #000 100%);
}

#book-background{
  position: relative;
  z-index: -1;
  margin: 0 auto;
  text-align: center;
  img{
    box-shadow: -1px 16px 38px 0px rgba(0, 0, 0, 0.7);
  }
}

.video-wrapper{
  position: absolute;
  top: 20%;
  width: 100%;
  z-index: 99999;
  .stream-embed{
    max-width: 60%;
    margin: 0 auto;
  }
}

.featured-wrapper{
  position: absolute;
  bottom: 12%;
  left:0;
  width: 100%;
  z-index: 99999;
  .featured-item{
    max-width: 28%;
    margin: 0 auto;
  }
}

.contest-wrap{
  position: absolute;
  top: 65%;
  width: 100%;
}

.contest{
  position: relative;
  z-index: 9999;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mobile-entry{
  display: none;
}

@media only screen and (max-width: 1440px) {
  .large-prize{
    display:none;
  }
  .mobile-entry{
    display: block;
  }
}

#toc{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  area{
    z-index: 99999;
    &:focus{
      outline: none;
    }
  }
}

.contest-mobile{
  #contest-wrapper{
    width: 100%;
  }
  .contest{
    max-width: 100%;
  }
  input{
    max-width: 100%;
    width: 100%;
  }
}

.mobile-entry{
  h2{font-family: 'english_towneregular';}
  h1,h2,label,p,h4{
    background: linear-gradient(330deg, #deca69 0%, #cfb75a 25%, #ebe085 50%, #cfb75a 75%, #deca69 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .row{
    background-image: url('https://s3.amazonaws.com/myfangate.com/iceninekills/repeatingleather.jpg');
    background-repeat: repeat;
    border-radius: 5px;
    box-shadow: -1px 16px 38px 0px rgba(0, 0, 0, 0.7);
  }
}

.logo{
  margin-top: 7%;
  margin-bottom: -20%;
  z-index: -6;
  position: relative;
}

// navigation
#prev-button, #next-button{
  display: none;
  position: relative;
  width: 100px;
  top: -100px;
  height: 100px;
  transition: all .2s ease-in-out;
  &:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
}
#next-button{
  float: right;
  cursor: pointer;
}
#prev-button{
  float: left;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #prev-button, #next-button{
    display: none !important;
  }
}

i.fa {
    padding-right: 0 !important;
}

.footer{
  margin-top: 5%;
  .fa-circle{
    border-radius: 50%;
    color: transparent;
    background: linear-gradient(330deg, #deca69 0%, #cfb75a 25%, #ebe085 50%, #cfb75a 75%, #deca69 100%) !important;
  }
  .fa-stack-1x{
    color: black;
    opacity: .6;
  }
}

.fearlesslogo{
  margin-left: 10px;
}
