<div class="page">
  <img class="page-img" src="https://s3.amazonaws.com/myfangate.com/iceninekills/lastpage.jpg" alt="" />
  <div class="overlay evenlay"></div>
</div>
<div class="page">
  <img class="page-img" src="https://s3.amazonaws.com/myfangate.com/iceninekills/itunespage.jpg" alt="" />
  <a href="http://itunes.com" target="_blank">
    <div class="overlay oddlay"></div>
  </a>
</div>
