<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title><%= current_page.data.title || "Ice Nine Kills - Every Trick In The Book Sweeps" %></title>
<meta name="description" content="Win your own Amazon Fire + $100 Amazon gift card to fill it with your favorite classics from 'Every Trick In The Book,' music and more!" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Ice Nine Kills - Every Trick In The Book Sweeps">
<meta itemprop="description" content="Win your own Amazon Fire + $100 Amazon gift card to fill it with your favorite classics from 'Every Trick In The Book,' music and more!">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/iceninekills/shareimage.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@iceninekills">
<meta name="twitter:title" content="Ice Nine Kills - Every Trick In The Book Sweeps">
<meta name="twitter:description" content="Win your own Amazon Fire + $100 Amazon gift card to fill it with your favorite classics from 'Every Trick In The Book,' music and more!">
<meta name="twitter:creator" content="@iceninekills">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/iceninekills/shareimage.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Ice Nine Kills - Every Trick In The Book Sweeps" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.iceninekills.com" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/iceninekills/shareimage.jpg" />
<meta property="og:description" content="Win your own Amazon Fire + $100 Amazon gift card to fill it with your favorite classics from 'Every Trick In The Book,' music and more!" />
<meta property="og:site_name" content="http://iceninekills.com/" />
