<div class="container mobile-entry">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Enter Here</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
      <div class="contest-mobile"></div>
    </div>
  </div>
</div>
