<div class="page">
  <img class="page-img" src="https://s3.amazonaws.com/myfangate.com/iceninekills/theplotsickens.jpg">
  <div class="overlay evenlay"></div>
</div>
<div class="page">
  <div class="video-wrapper">
    <div class="stream-embed ">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LJR4t1TKACA?rel=0&?showinfo=0"></iframe>
      </div>
    </div>
  </div>
  <img class="page-img" src="https://s3.amazonaws.com/myfangate.com/iceninekills/streampage.jpg" />
  <div class="featured-wrapper">
    <img class="featured-item" src="https://s3.amazonaws.com/myfangate.com/iceninekills/plotsickenstee-web.png" />
  </div>
  <div class="overlay oddlay"></div>
</div>
