<div class="page">
  <img class="page-img" src="https://s3.amazonaws.com/myfangate.com/iceninekills/tableofcontents.jpg" border="0" usemap="#toc" width="900" height="900"/>
  <map name="toc" id="toc">
    <area shape="rect" coords="152,350,776,377" data-pagenum="6" href="#" id='natureofthebeast'/>
    <area shape="rect" coords="153,382,776,413" data-pagenum="8" href="#" id='communionofthecursed'/>
    <area shape="rect" coords="153,419,777,448" data-pagenum="10" href="#" id='bloodbathandbeyond'/>
    <area shape="rect" coords="153,452,778,483" data-pagenum="12" href="#" id='theplotsickens'/>
    <area shape="rect" coords="153,488,780,517" data-pagenum="14" href="#" id='starcrossedenemies'/>
    <area shape="rect" coords="153,521,781,558" data-pagenum="16" href="#" id='memyselfandhyde'>
    <area shape="rect" coords="153,561,782,591" data-pagenum="18" href="#" id='alice'/>
    <area shape="rect" coords="152,594,783,628" data-pagenum="20" href="#" id='thepeopleintheattic'/>
    <area shape="rect" coords="151,632,784,662" data-pagenum="22" href="#" id='tesstimony'/>
    <area shape="rect" coords="151,664,784,699" data-pagenum="24" href="#" id='hellinthehallways'/>
  </map>
</div>
<div class="page">
  <img class="page-img" src="https://s3.amazonaws.com/myfangate.com/iceninekills/introduction.jpg" alt="" />
  <div class="overlay oddlay"></div>
</div>
